@media screen and (max-width: 455px) {

    body{

        background-color: #b33d3d;
    }
    .navbar {
        background-color: #fff;
        height: 8vw;
    }
    
    .menuBar {
        width: 5vw;
        height: 5vw;
        left: 2%;
        top: 20%;
    }

    
    .searchbar ::placeholder {
        font-size: 0;
    }
    
    .searchbar {
        width: 25%;
        left: 33%;
        top: 20%;
    }
    
    .searchbar-input {
        margin: 0%;
        padding: 0%;
        width: 15vw;
        bottom:0%;
    }
    
    .searchbar-button {
        padding: 1vw 1vw;
        font-size: 2vw;
        bottom: 0%;
    }
    
    .logo-img {
        left: 7%;
        width: 8vw;
    }
    
    .logo>span {
        top: 35%;
        left: 15%;
        font-size: 3vw;
    }
    
    .icon {
        display: inline;
        position: absolute;
        right: 15%;
        top: 20%;
    }
    
    .icon>span {
        width: 1vw;
        height: 1vw;
    }
    
    .login-button {
        right: 2%;
        top: 25%;
        width: 8vw;
        height: 5vw;
        font-size: 2vw;
    }
}